!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Guillermo Moreno - My site personal", :name => "description"}/
    %meta{:content => "@memoxmrdl", :name => "author"}/
    %title Guillermo Moreno
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
    = csrf_meta_tags
  %body#page-top.index
    = render file: 'modules/nav'
    = render file: 'modules/header'
    = render file: 'modules/about'
    = render file: 'modules/contact'
    = render file: 'modules/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
